In [2]:
    !pip install nltk

Requirement already satisfied: nltk in c:\programdata\anaconda3\lib\site-packages (3.4.4)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from nltk) (1.12.0)

In [6]:
import nltk,os

In [5]:
#nltk.download_shell()

In [7]:
spamsms=os.path.join("C:\\workspace\\studyvideo\\[FreeTutorials.Eu] Udemy - Python for Data Science and Machine Learning Bootcamp\\1. Course Introduction\\Refactored_Py_DS_ML_Bootcamp-master\\20-Natural-Language-Processing\\smsspamcollection",'SMSSpamCollection')

In [8]:
messages=[ line.rstrip() for line in open(spamsms)]

In [9]:
messages[100]

"ham\tPlease don't text me anymore. I have nothing else to say."

In [10]:
print(len(messages))

5574

In [11]:
messages[50]

'ham\tWhat you thinked about me. First time you saw me in class.'

In [12]:
import pandas as pd

In [20]:
smsspam=pd.read_csv(spamsms,sep='\t',names=['label','messages'])

In [21]:
smsspam.head()

  label                                           messages
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [22]:
smsspam.describe()

       label                messages
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30

In [23]:
smspam.groupby('ham').describe()

     Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...  \
                                                                                                               count
ham
ham                                                4824
spam                                                747


     unique                                                top freq
ham
ham    4515                             Sorry, I'll call later   30
spam    653  Please call our customer service representativ...    4

In [31]:
smsspam['length']=smsspam['messages'].apply(len)

In [32]:
smsspam.head()

  label                                           messages  length
0   ham  Go until jurong point, crazy.. Available only ...     111
1   ham                      Ok lar... Joking wif u oni...      29
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     155
3   ham  U dun say so early hor... U c already then say...      49
4   ham  Nah I don't think he goes to usf, he lives aro...      61

In [35]:
smsspam.groupby('label').describe()

       length
        count        mean        std   min    25%    50%    75%    max
label
ham    4825.0   71.482487  58.440652   2.0   33.0   52.0   93.0  910.0
spam    747.0  138.670683  28.873603  13.0  133.0  149.0  157.0  223.0